cmaps
*png
0previous/.DS_Store
0previous/20240320/3. Plot Velocity Fields.ipynb
0previous/20240320/velmap.py
.ipynb_checkpoints/1. Plot Spectral Index-checkpoint.ipynb
.ipynb_checkpoints/3. Plot Velocity Fields-checkpoint.ipynb
0previous/20240628/3. Plot Velocity FieldsPrevious.ipynb
0previous/20240628/velmapPrevious.py
*.pyc
plots/.DS_Store
.DS_Store
